{% extends 'base.html' %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js library -->
{% endblock %}
{% block body %}
<div class="container">
    <div class="left-block">
        <h2>User Transaction History</h2>

        <!-- Filter Form -->
        <!-- <form action="/filter" method="GET" class="filter-group">
            <div>
                <label for="start-date">Start Date:</label>
                <input type="date" id="start-date" name="start_date">
            </div>
            <div>
                <label for="end-date">End Date:</label>
                <input type="date" id="end-date" name="end_date">
            </div>
            <button type="submit">Filter</button>
        </form> -->

        <!-- Transaction Table -->
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>name</th>
                </tr>
            </thead>
            <tbody>
                <!-- Sample Data Rows (Replace these with actual dynamic data) -->
                {%for trx in trxs%}
                <tr>
                    <th>{{trx['date']}}</th>
                    <th>{{trx['category']}}</th>
                    <th>{{trx['amount']}}</th>
                    <th>{{trx['type']}}</th>
                    <th>{{trx['account']}}</th>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <a href="add_trx" class="button">Add</a>
    </div>
    <div class="right-block">
        <h2>Accounts</h2>
        <table>
            <thead>
                <tr>
                    <th>Accounts</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <!-- Sample Data Rows (Replace these with actual dynamic data) -->
                {%for acc in accs%}
                <tr>                
                    <th>
                        <a href="/acc_info/{{acc['id']}}">{{acc['account']}}</a>
                    </th>
                    <th>{{acc['balance']}}</th>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <a href="add_acc" class="button">Add</a>
    </div>
</div>

<div class="chart-container">
    <h1>Expense Statistic</h1>
    <canvas id="myPieChart" width="400" height="400"></canvas>
</div>

<!-- Link to your external JavaScript file -->
<script src="{{url_for('static', filename='script.js')}}"></script>

<!-- Inline script to pass dynamic data to JavaScript -->
<script>
    const chartData = {{ chart_data | tojson }};
</script>


{% endblock %}